<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/weather.svg">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app.js"></script>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Yuki Hirayama. It uses from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="http://weatherstack.com/">weatherstack.com</a></p>
    <img class="portrait" src="/img/profile.jpeg">
    <ul>
      <li><a href="https://github.com/hira837/weather-app-nodejs">github repository</a></li>
      <li><a href="https://qiita.com/yhrym">Qiita</a></li>
    </ul>
  </div>
  {{>footer}}
</body>

</html>